html {
  font-size: 20px;
  background: url("http://i.imgur.com/b9r5sEL.jpg");
  background-size: cover;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  width: 10rem;
}
